* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  color: #333;
  background-color: #f9f9f9;
}

header {
  background: #245182;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.content {
  flex: 3;
  margin-right: 20px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content h2 {
  text-align: center;
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 20px;
}

.content h2 span {
  font-size: 30px;
}

.content h3 {
  font-size: 22px;
  margin: 10px 0;
}

.sidebar {
  flex: 1;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  margin-top: 0;
  color: #333;
  font-size: 1.6em;
  margin-bottom: 15px;
  border-bottom: 2px solid #f9f9f9;
  padding-bottom: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration-line: underline;
  text-underline-offset: 2px;

  color: #425c75;
  font-weight: bold;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  color: #5584b6;
}

.formulas p {
  margin: 10px 0;
  font-size: 1.1em;
}

.formulas strong {
  color: #0658b1d6;
}

.secret-link {
  display: block;
  text-align: center;
  text-decoration-line: underline;
  text-underline-offset: 2px;

  color: #425c75;
  font-weight: bold;
  transition: color 0.3s;
  margin: 18px 0;
}

footer {
  text-align: center;
  padding: 10px 20px;
  background: #245182;

  color: #fff;
  margin-top: 20px;
}

.mem-image {
  margin: 18px 0;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .content {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 18px;
  }
}
